
html {
  height: 100vh;
}

body {
  height: 100vh;
}

@mixin section($height: 100vh, $width: 300px, $background-color: #2f3e51, $margin-left: 300px, $padding: 0 40px) {
  height: $height;
  width: $width;
  background-color: $background-color;
  margin-left: $margin-left;
  padding: $padding;
}

@mixin font($font-size: 16px, $color: #ffffff) {
  font-size: $font-size;
  color: $color;
}

.flash {
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  &__alert {
    background-color: $sectionColorBlue;
  }
  &__notice {
    background-color: $sectionColorBlue;
  }
}

.sidebar {
  @include section(100vh, 300px, #2f3e51, 0, 0);
  float: left;
  a {text-decoration: none;}
  .user {
    padding: 0 20px;
    width: 260px;
    height: 96px;
    background-color: #253141;
    float: left;
    &__name {
      @include font();
      position: fixed;
      font-weight: bold;
      line-height: 96px;
    }
    .icon {
      float: right;
      line-height: 96px;
      a:link {color: #ffffff;}
      a:visited {color: #ffffff;}
    }
  }
  .group-list {
    height: 96px;
    width: 300px;
    color: #ffffff;
    float: left;
    &__name {
      padding: 20px 20px 0 20px;
      font-size: 15px;
    }
    &__top-message {
      font-size: 11px;
      padding: 5px 20px 20px 20px;
    }
  }
  .group-list:hover {
    background-color: #3d5169;
  }
}

.group {
  @include section(96px, $windowRightWidth, #ffffff);
  border-bottom: solid 1px #eeeeee;
  &__name {
    @include font(20px, #333333);
    padding: 35px 0 0 0;
  }
  &__member {
    @include font(12px, $fontColorGray);
    padding: 10px 0 0 0;
  }
  .edit-button {
    border: solid 2px $sectionColorBlue;
    display: inline-block;
    height: 40px;
    width: 70px;
    margin: 28px 0;
    position: absolute;
    right: 40px;
    p {
      padding: 0 20px;
      color: $sectionColorBlue;
      line-height: 40px;
    }
  }
}

.messages {
  @include section(calc(100vh - 191px), calc($windowRightWidth - 10px), #fafafa);
  overflow: auto;
  &__name {
    @include font(16px, $fontColorDarkGray);
    display: inline-block;
    font-weight: bold;
    padding-top: 46px;
  }
  &__time {
    @include font(12px, $fontColorGray);
    display: inline-block;
    padding-left: 10px;
  }
  &__body {
    @include font(14px, $fontColorDarkGray);
    padding-top: 10px;
  }
}

.input {
  @include section(auto, $windowRightWidth, #e6e6e6);
  ::-webkit-input-placeholder {
    color: $fontColorGray;
  }
  input[type="text"] {
    margin: 20px 0;
    height: 50px;
    width: 770px;
    padding-left: 10px;
    position: relative;
  }
  .file-form {
    cursor: pointer;
    position: absolute;
    right: 170px;
    bottom: 40px;
    input[type="file"] {
      display: none;
    }
  }
  .send-button {
    display: inline-block;
    float: right;
    margin: 20px 0 20px 15px;
    height: 50px;
    width: 100px;
    background-color: $sectionColorBlue;
    line-height: 55px;
    color: #ffffff;
    text-align: center;

    input[type="submit"] {
      display: none;
    }
  }
}
